#Example HVM guest configuration
# =====================================================================
#
# This is a fairly minimal example of what is required for an
# HVM guest. For a more complete guide see xl.cfg(5)

#--- To turn virGL on/off see "Guest VGA console configureation section"


# This configures an HVM rather than PV guest
builder = "hvm"

#-----Guest name-----
name = "ubuntu1"

#---128-bit UUID for the domain as a hexadecimal number.
#---Use "uuidgen" to generate one if required.
#---The default behavior is to generate a new UUID each time the guest is started.
#uuid = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

# Enable Microsoft Hyper-V compatibile paravirtualisation /
# enlightenment interfaces. Turning this on can improve Windows guest
# performance and is therefore recommended
#viridian = 1

#-----Initial memory allocation (MB)-----
#---Normally set at 1.5-2GB for virGL, adjust as nessicary
memory = 2048

#-----Maximum memory (MB)-----
# If this is greater than `memory' then the slack will start ballooned
# (this assumes guest kernel support for ballooning)
#maxmem = 512

#-----Number of VCPUS-----
vcpus = 2

#-----Network devices-----
#---A list of 'vifspec' entries as described in
#---docs/misc/xl-network-configuration.markdown
vif = [ '' ]

#-----Disk Devices-----
#---A list of `diskspec' entries as described in
#---docs/misc/xl-disk-configuration.txt
disk = [ '/xen-disks/ubuntu1.img,raw,xvda,rw' ]
#--- Attach .img along with iso to install, after .img is bootable it takes boot priority
#disk = [ '/xen-disks/ubuntu1.img,raw,xvda,rw', '/xen-disks/Fedora-Workstation-netinst-x86_64-24-1.2.iso,,hdc,cdrom' ]


#-----Guest VGA console configuration-----

#---Used for debugging is virGL and SDL broken
#vnc = 1
#---If vnc used this sets ip address for vncviewer
#vnclisten="127.0.0.1"

#---Standard (NOT virGL - Comment out if using virGL )
sdl = 1

#-----choosing qemu version-----
#device_model_version = 'qemu-xen-traditional'

#---we want non tradition qemu('qemu-xen') with the device model
#---override point to qemu installed by script. Should be in home
device_model_version = 'qemu-xen'
device_model_override='/usr/lib/xen/bin/qemu-system-i386'

vgt_monitor_config_file='/etc/xen/igvtMon/monitor.config' #only valid for indirect display mode

sdl=1
vnc=0
vncpasswd=''
serial='pty'
tsc_mode='default'
stdvga = 0
usb=1
usbdevice='tablet'
keymap='en-us'
vgt=1
vgt_low_gm_sz=128
vgt_high_gm_sz=384
vgt_fence_sz=4
